* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  weight: 100%;
  height: 100%;
}

body {
  background-color: #fff;
  position: relative;
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
  width: 100%;
  height: 100%;
}

h1, p {

}

h1 {

}

h2 {

}

p {
  font-size: 1rem;
}

header {
  position: fixed;
  background-color: #ddd;
  min-height: 60px;
  top: 0;
  width: 100%;
  padding: 0px 20px;
  display: flex;
}

@media (max-width: 600px) {
  header {
    font-size: 0.8rem;
  }
  .nav-link {
    margin-left: 2.5rem;
  }
  .specs {
    font-size: 0.9rem !important;
  }
  #model-prices {
    display:block !important;
  }
  .price {
    width: 80% !important;
    margin-left: 7% !important;
    margin-top: 3rem !important;
  }
  #company-logo {
    width: 30vw !important;
  }
  #company-navigation {
    display: none;
  }
  #header-img {
    content:url("https://lh3.googleusercontent.com/B3A-QiY2CsfcsroBkFTUs2MpSQSTo33FYV8ilk3AtHOjt_r4_08sPeZA_idG2psr4I5e2QTxn61tqsS8zIUotoGWcXRPpu9bsBPYMrLi1IwgleP40ZN3wbmq9xqYqzOfSIRMJw-XLQ=w2400") !important;
    width: 35% !important;
    height: 90% !important;
    margin-top: 0.2rem !important;
    margin-left: 0.75rem !important;
  }
  #newsletter {
    font-size: 0.8rem !important;
    width: 35%;
  }
  #email {
    width: 95%;
    padding: 0.25rem 0 0.25rem 0.25rem !important;
  }
}

@media (min-width: 600px) and (max-width: 1000px) {
  .model-header-text {
    font-size: 1.5rem !important;
    padding-top: 0.7rem !important;
  }
  .model-cost {
    font-size: 1.25rem !important;
  }
  .model-specs-list {
    font-size: 0.9rem !important;
  }
  #newsletter {
    font-size: 0.9rem !important;
    width: 50%;
  }

}

.container {
  margin-top: 3rem;
}

.specs {
  font-size: 1.25rem;
}

.product {
  display: flex;
}

.column {
  flex: 1;
  padding: 1em;
}

.nav-link {
  color: black;
  text-decoration: none;
}

.center {
  text-align: center;
  width: 100%;
  height: 100%;
  margin: auto;
}

.responsive-image {
  max-width: 100%;
  height: auto;
}

.price {
  padding: 0;
  width: 35%;
  height: 22.5rem;
  margin-right: 5%;
}

.border {
  border: 2px solid #666;
}

.model-header {
  width: 100%;
  height: 4rem;
  background-color: #ddd;
}

.model-header-text {
  color:black;
  padding-top: 0.4rem;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.model-cost {
  font-weight: 600;
  font-size: 1.75rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.model-specs-list {
  margin-left: 2rem;
}

.button {
  display: flex;
  font-weight: 500;
  background-color: #f1c40f;
  border: 0;
  margin: 2rem auto;
  padding: 0 1.5rem;
  height: 2.5rem;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.button:hover {
  background-color: #ec9706;
}

.link-decoration {
  text-decoration: none;
}

#submit {
  margin: 1rem auto;
}

#email {
  padding: 0.25rem 5rem 0.25rem 0.5rem;
  margin-top: 1rem;
  border: 1px solid #777;
}

#newsletter {
  font-size: 1.2rem;
  margin-bottom: 5rem;
}

#model-prices {
  margin-left: 12%;
  margin-right: 5%;
}

#model-features {
  margin-right: 5%;
}

#model-presentation {
  min-width: 50%;
  min-height: 25rem;
  width: 50%;
  height: 30rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

#nav-list {
  width: 40vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

#features-list {
  margin-left: 1rem;
}

#product-model-image {
  margin-left: 5%;
  /* min-width: 15rem; */
}

#product-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#header-img {
  content:url("https://lh3.googleusercontent.com/JrZnEpmuU94V-0iHkr_CdZDS44yMOyEDTtSFH9I_ZmIT82mLQxIolriOWJlRf2SPRVkpw6rCfm2pAtjTJ9kyu1ot5h107f7Y2eoZxBbP6snPSDuL1iyG9PkR2Sx8UmLlvujqB9djvQ=w2400");
  width: 100%;
  height: 90%;
  max-width: 200px;
  display :flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 0.2rem;
  margin-left: 0.5rem;
}

#company-logo {
  float: left;
  width: 50vw;
  margin: 0;
}

#company-navigation {
  right: 0;
  height: 4rem;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#company-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 4rem;
  height: 6rem;
}

#page-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
